---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: chktex
        name: chktex (LaTeX lint)
        entry: chktex
        language: system
        files: \.tex$
        args: ["-q", "-nall", "-wall"]
...
